## CUSTOM IGNORES
# Starter content
Content/Animations/FPS_Starter/
Content/Animations/UE4_Mannequin/
Content/Geometry/FPS_Starter/
Content/Mannequin/FPS_Starter/
Content/StarterContent

# Legacy Content
Content/Animations/0-Athletes/99-Legacy/
Content/Animations/99-Athletes_Legacy/

# Debug content
Content/Developers/
Content/Maps/0-Playground_Debug/

# Local content
Downloads/local/
LocalContent/

# Large Build Files (just remember to rebuild if things start looking visually funny)
*_BuiltData.uasset

## STANDARD (ORIGINAL) IGNORES
# UE4 compile files, never needed to share and absolutely massive!
Binaries
DerivedDataCache
Intermediate
Saved

# VScode specific files that we never need (we're doing no-code).
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
